body{
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    min-width: 500px;
    min-height: 300px;
    overflow: scroll;

}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-sizing: content-box;
    width: 100%;
}
a,a:link, a:visited, a:active{
    text-decoration: none;
    color: #fff;
}

li:hover{
    opacity: .4;
}

li{
    width: 80%;
    border: solid white 3px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
a{
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a>div{
    font-size: 14px;
    flex: 1;
}
a>p{
    font-size: 20px;
    flex:1;
}

.ocultar{
    display: none;
}